body {
  background-color: black;
    
}

.body{
    width:300px;
    height:200px;
    background-color:#FECC02;
    position:relative;
}

.first,.third{
    width:85px;
    height:85px;
    background-color:#006AA7;

}
.third{
  position:absolute;
  bottom:0px;
  left:0px;
}
.second,.fourth{
    position:absolute;
    top:0px;
    right:0px;
    width:185px;
    height:85px;
    background-color:#006AA7;
}
.fourth{
    top:115px;
}